#root {
  background-color: rgb(70, 19, 51);
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  gap: 16px;
}

.notsticky{
  margin-bottom: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.by {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
}

.login {
  display: flex;
  justify-content: center;
  margin: 5px;
}

#main {
  background-color: rgb(54, 52, 52);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personalInfo {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 2px;
  border-style: solid;
  border-color: rgb(111, 110, 110);
  margin-bottom: 20px;
  padding-top: 10px;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 800px;
  padding-bottom: 15px;
}

label {
  width: 200px;
}

input {
  overflow: scroll;
}

#pdf {
  background-color: white;
  color: black;
}

#resume {
  font-family: 'Times New Roman', Times, serif;
}


#resume-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.resume-name {
  margin-bottom: 10px;
}

#resume-body {
  margin-left: 96px;
  margin-top: 20px;
  margin-right: 96px;
}

.section-head {
  text-decoration: underline;
}

.workspan {
  margin-right: 20px;
}

.description {
  margin-top: 5px;
  word-wrap: break-word;
}

.descriptionBox {
  grid-column: 1 / 2;
}

.descriptionsquare {
  
  margin-left: 30px;
  grid-column: 2 / 5;
  
}

.genPDF {
  display: flex;
  justify-content: center;
}

.add {
  display: flex;
  justify-content: center;
}